@font-face {
    font-family: 'Researcher Regular';
    src: url('ResearcherRegular.woff2') format('woff2'),
        url('ResearcherRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Researcher Thin';
    src: url('ResearcherThin.woff2') format('woff2'),
        url('ResearcherThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 90vh;
}

body {
    background-image: url(Website-Normal.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.hackBgImage {
    display: none;
    background-image: url(Hacking-Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.458);
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    height: 90vh;
    color: white;
}

.container h1 {
    font-family: 'Researcher Regular', sans-serif;
    font-size: 60px;
}

.container p {
    font-family: 'Researcher Thin', sans-serif;
    font-size: 35px;
}

.container h2 {
    font-size: 24px;
    font-family: 'Researcher Thin', sans-serif;
    text-align: center;
    color: white;
}

@media screen and (max-width: 1750px) {
    .container h1 {
        font-size: 46px;
    }

    .container p {
        font-size: 25px;
    }

    .container h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 1230px) {
    .container h1 {
        font-size: 40px;
    }

    .container p {
        font-size: 20px;
    }

    .container h2 {
        font-size: 15px;
    }
}

@media screen and (max-width: 1000px) {
    .container h1 {
        font-size: 36px;
    }

    .container p {
        font-size: 14px;
    }

    .container h2 {
        font-size: 12px;
    }
}

@media screen and (max-width: 775px) {
    .container h1 {
        font-size: 34px;
    }

    .container p {
        font-size: 10px;
    }

    .container h2 {
        font-size: 12px;
    }
}